@use '../base/variables' as v;
@use '../base/mixins' as m;

.cards {
    list-style: none;
    padding: 2rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    top: -10rem;
    @include m.desktop {
        grid-template-columns: repeat(4, 25.5rem);
        padding: 0;
        justify-content: space-evenly;
    }
}

.card {
    min-height: 21.5rem;
    text-align: center;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    padding-top: 2.5rem;
}

.card::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: .3rem;
}

.card--facebook::after {
    background: v.$success;
}

.card--twitter::after {
    background: v.$successLight;
}

.card--instagram::after {

    background: v.$primaryGradient;
}

.card--youtube::after {
    background: v.$secondaryDark;
}
.card__heading{
    margin-bottom: 3.5rem;
}
.card__top{
    font-weight: 700;
    font-size: 1.2rem;
}
.card__numbers{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
.card__text{
    display: block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .5rem;
}
.card__variation{
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}
.card__variation::before{
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: -1.5rem;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: 100%;
}
.card__variation--up{
    color: v.$primary;
}
.card__variation--up::before{
    background-image: url('../images/icon-up.svg');

}
.card__variation--down{
    color: v.$secondary;

}
.card__variation--down::before{
    background-image: url('../images/icon-down.svg');
}