@use '../base/light' as l;
@use '../base/variables' as v;

.light {
    .main__top {
        background-color: l.$cardBG;
    }

    .main__left {
        border-bottom-color: l.$toggle;
    }

    .main__subtitle {
        color: l.$textColor1;
    }

    .main__theme {
        color: l.$textColor1;
    }

    .main__toggle {
        appearance: none;
        background-color: l.$toggle;
        transition: background-image .3s ease-in-out;
        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
            appearance: none;
            background-color: l.$mainBG;
        }
        &:hover {
            appearance: none;
            cursor: pointer;
            background-image: v.$secondaryGradient;
            transition: background-image .3s ease-in-out;

        }
    }

    .card {
        background-color: l.$cardBG;
        cursor: pointer;
        &:hover{
            background-color: l.$toggle;
        }
    }
    .card__top {
        color: l.$textColor1;
    }

    .card__text {
        color: l.$textColor2;
    }

    .main__day {
        color: l.$textColor1;
    }
}