$toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
$mainBG: hsl(230, 17%, 14%);
$main: hsl(232, 19%, 15%);
$cardBG: hsl(228, 28%, 20%);
$textColor1: hsl(228, 34%, 66%);
$textColor2: hsl(0, 0%, 100%);